<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!--Column1-->
          <div class="footer-pad">
              Licensed and insured in Collier County and Lee County. J&M Boatlift and Repair carries all proper insurance to protect both employees and customers including but not limited to USL&H Insurance.
          </div>
  
           <div class="footer-pad">
               <a href="tel:239-353-7326">Call Now: 239-353-7326</a> – Address: 2496 Kirkwood Avenue, Naples, FL 34112
           </div>
        </div>
      </div>
    </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!--Footer Bottom-->
            <p class="text-xs-center">&copy; Copyright &nbsp; 2021 - J&M Boatlift.  All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>